<div>
  <h2>Detalle de Consultas</h2>
  <div>
    {{!-- <div id="divNew">
      <a href="/consulta_create">Nuevo Consulta
      <button id="new"><i class="fas fa-plus-circle"></i></button></a>
    </div> --}}
    <div id="tabla">
      <table>
        <thead>
          <tr>
            <th class="m-2">No. Consulta</th>
            <th class="m-2">No. Expediente</th>
            <th class="m-2">Fecha de consulta</th>
            <th class="m-2">Tipo de Consulta</th>
            <th class="m-2">Clinica</th>
            <th class="m-2">Eliminar</th>
            <th class="m-2">Pre-Clinica</th>
            <th class="m-2">Diagnostico</th>
          </tr>
        </thead>
        <tbody>
          <div class="row">
            {{#each rows}}
              <tr>
                <td class="m-2">{{COD_CONSULTA}}</td>
                <td class="m-2">{{COD_EXPEDIENTE}}</td>
                               
                <td class="m-2">{{FEC_CONSULTA}}</td>
                <td class="m-2 ">{{NOM_TIP_CONSULTA}}</td>
                <td class="m-2">{{NOM_CLINICA}}</td>
                <td id="actions">
                  <form action="/consulta/delete" method="POST" class="mx-2">
                    <input type="hidden" value="{{COD_CONSULTA}}" name="id">
                    <button id="trash" type="submit"><i class="fas fa-trash"></i></button>
                  </form>
                </td>
                {{!-- <td>
                  <a href="/consulta/consulta_edit/{{COD_CONSULTA}}" >
                    <button id="edit"><i class="fas fa-pen"></i></button></a>
                </td> --}}
                <td>
                  <a href="/consulta/sig_vital_create/{{COD_CONSULTA}}">
                    <button id="edit"><i class="fas fa-pen"></i></button></a>
                </td>
                <td>
                  <a href="/consulta/diagnostico_create/{{COD_CONSULTA}}">
                    <button id="edit"><i class="fas fa-pen"></i></button></a>
                </td>

              </tr>
            {{/each}}
          </div>
        </tbody>
      </table>
    </div> 
  </div>
</div>