<div>
  <h2>Estado Articulo</h2>
    <div>
    <div id="divNew">
      <a href="/operacion_create">Nueva Operacion
      <button id="new"><i class="fas fa-plus-circle"></i></button></a>
    </div> 
    <div id="tabla">
      <table>
        <thead>
         <tr>
          <th class="w-20 py-4 ...">Id de la Operacion</th>
          <th class="w-1/2 py-4 ...">Documento de la Operacion</th>
          <th class="w-1/2 py-4 ...">Tipo de Operacion</th>
          <th class="w-1/2 py-4 ...">Cantidad de Operaciones</th>
          <th class="w-28 py-4 ...">Actions</th>
        </tr>
      </thead>
      <tbody>
        <div class="row">
        {{#each tasks}}
        <tr>
          <td class="py-3 px-6">{{COD_OPERACION}}</td>
          <td class="py-3 px-6">{{DOC_OPERACION}}</td>
          <td class="py-3 px-6">{{TIP_OPERACION}}</td>
          <td class="py-3 px-6">{{CAN_OPERACION}}</td>
                 
          {{!-- <td class="p-3 text-center">{{DET_ARTICULO}}</td>
          <td class="p-3 text-center">{{FEC_CREACION}}</td> --}}
          <td id="actions">
            <form action="/Operacion/delete" method="POST" class="mx-2">
              <input type="hidden" value="{{COD_OPERACION}}" name="id">
              <button id="trash" type="submit">
                <i class="fas fa-trash"></i></button>
            </form>
          </td>
          <td> 
            <a href="/Operacion/operacion_edit/{{COD_OPERACION}}" >
              <button id="edit"><i class="fas fa-pen"></i></button></a>
          </td>
         </tr>
          {{/each}}
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>